{% load static %}
<script src="{% static 'assets/htmx.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<script src="{% static 'assets/js/script.min.js' %}"></script>

<script src="{% static 'assets/aos/aos.js' %}"></script>
<script>
    AOS.init();
</script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    })
</script> 