{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Titles -->
    <title>{{ site_data.name }} - {{ site_data.title }}</title>

    <!-- Meta Tags -->
    {% include "includes/meta.html" %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Include CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">   
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">    
  

    {% block stylesheets %}{% endblock %}

    
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="56">
    <!-- Header -->
    <header id="header">
        {% block header %}
        {% include 'layout/header.html' %}
        {% endblock %}
    </header>

    <!-- Main Content -->
    <main id="main" class="main">
        {% block content %}
        {% include 'layout/main.html' %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer id="footer">
        {% block footer %}
        {% include 'layout/footer.html' %}
        {% endblock %}
        {% include 'includes/scripts.html' %}
        <!-- Additional JS -->
        {% block javascripts %}{% endblock %}
    </footer>
</body>
</html>
