{% load tz %}


<div class="container">
    <p>© {{ site_data.name }} {% now "Y" %}. All Rights Reserved.</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">FAQ</a></li>
    </ul>
    <p>Developed By <a href= "mailto: kabitagorain6@gmail.com"> Kabita Gorain </a> at <a target="_blank" href="https://www.upwork.com/freelancers/~0113df153ca7d2a2ea">Upwork</a> </p>

</div>